@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 176.1 100% 95%;
    --foreground: 176.1 5% 0%;
    --card: 176.1 50% 90%;
    --card-foreground: 176.1 5% 10%;
    --popover: 176.1 100% 95%;
    --popover-foreground: 176.1 100% 0%;
    --primary: 176.1 69.4% 21.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176.1 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 138.1 30% 85%;
    --muted-foreground: 176.1 5% 35%;
    --accent: 138.1 30% 80%;
    --accent-foreground: 176.1 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176.1 5% 90%;
    --border: 176.1 30% 50%;
    --input: 176.1 30% 18%;
    --ring: 176.1 69.4% 21.8%;
    --radius: 1rem;
  }
  .dark {
    --background: 176.1 50% 5%;
    --foreground: 176.1 5% 90%;
    --card: 176.1 50% 0%;
    --card-foreground: 176.1 5% 90%;
    --popover: 176.1 50% 5%;
    --popover-foreground: 176.1 5% 90%;
    --primary: 176.1 69.4% 21.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176.1 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 138.1 30% 15%;
    --muted-foreground: 176.1 5% 60%;
    --accent: 138.1 30% 15%;
    --accent-foreground: 176.1 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176.1 5% 90%;
    --border: 176.1 30% 18%;
    --input: 176.1 30% 18%;
    --ring: 176.1 69.4% 21.8%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wrapper {
  @apply max-w-screen-2xl mx-auto px-2 md:px-5;
}
